.Registration {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark--100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.RegistrationForm {
    max-width: 340px;
    width: 80%;
}

.RegistrationFields {
    background-color: var(--dark--75);
    padding: 1rem 2rem;
    border-radius: 1rem;
}


.RegistrationButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
}