.HomeHead {
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
}
.HomeHead > * {
    flex-grow: 1;
}

.HomeBody {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:2rem;
    padding: 1rem;
    background-color: var(--dark--50);
    border-radius: 0.6rem;
    font-size: 1rem;
}

.Home {
    display: flex;
    flex-direction: column;
    gap:2rem;
}
