.FieldForm .input input {
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border-radius: 0.3rem;
    border: none;
    background-color: var(--dark--50);
    color: var(--gray--30);
}
.FieldForm {
    margin-bottom: 1.5rem;
    color: var(--dark--0);
}

.FieldForm label {
    display: block;
    margin-bottom:0.5rem;
}